# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results/

# ionic/capacitor builds
/build
/dist
android/app/build/
android/.gradle/
android/build/
android/capacitor-android/build/
android/capacitor-cordova-android-plugins/build/

# generated artifacts
/artifacts/
/app-debug.apk
*.apk
/appium.log
tests/appium/chromedriver.zip
tests/appium/chromedriver/**/*.zip
tests/appium/package.json
tests/appium/package-lock.json

# local env files
.env
.env.local
.env.*.local
.env.production

# secrets / signing
*.pem
*.jks
*.keystore
key.properties

# misc
.DS_Store
.auth/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
